<%- include("header") %>
	<div class="wrapper">
		<div class="detail">
			<div class="detail-small">
				You Have
			</div>
			<div class="detail-big">
				<span id="evt"></span> EVT
			</div>
			<div class="detail-small">
				<span id="usd"></span> USD
			</div>
		</div>


		<div class="text-bold" style="color: #1AD85B;">
			You can charge your EV
		</div>
		<br>
		<div style="padding: 10px;">
			<img src="/img/circle.png" alt="" style="width: 100%;">
		</div>

		<br>


		<button class="button" id="charge">Charge My EV</button>
		<div class="text-normal" style="color: #4981BB;">
			Need more EVT?
		</div>
	</div>
	<script src="/js/accept.js"></script>
	<%- include("footer") %>