<%- include("header") %>
	<div class="wrapper">
		<!-- <div class="detail">
			<div class="detail-bold"></div>
		</div> -->
		<br>
		<br>
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
		<br>
		<br>
		<div class="text-bold">
			Connect the EVCHAIN adapter
			<br>to the wall outlet.
		</div>
		<br>
		<br>
		<img src="/img/normal.png" alt="" style="width: 128px;">
		<br>
	</div>
	<script src="/js/addPin.js"></script>
	<%- include("footer") %>