<%- include("header") %>

	<div class="wrapper">
		<div class="detail">
			<div class="detail-big">
				<span id="evt"></span> EVT
			</div>
			<div class="detail-small">
				<span id="usd"></span> USD
			</div>
		</div>

		<div class="text-normal">
			You are charging at
			<b>John’s House</b>
		</div>
		<br>
		<br>
		<table style="padding: 5px;">
			<tr>
				<td style="width:20%;">
					<img src="/img/charge.png" alt="" style="width: 100%;">
				</td>
				<td style="width: 40%;">
					<table class="dots">
						<tr>
							<td class="selected">
								<div></div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div></div>
							</td>
							<td>
								<div></div>
							</td>
						</tr>
					</table>
				</td>
				<td style="width: 40%;">
					<img src="/img/car.png" alt="" style="width: 100%;">
				</td>
			</tr>
		</table>
<br>
<br>
		<div>
			<span style="font-weight: 700; font-size: 1.4em;"><span id="spent">0</span> EVT</span>
			<span>paid</span>
		</div>
		<div>
			<span><span id="mins">0</span> min(s) <span id="secs">0</span> sec(s)</span>
		</div>
<br>
<br>
		<button class="button">
			Stop charging
		</button>

		<div class="text-normal" style="color: #4981BB;">
			Need more EVT?
		</div>
	</div>
	<script src="/js/charge.js"></script>

	<%- include("footer") %>