<div class="footer">
	<table>
		<tr>
			<td>
				<i class="fas fa-charging-station"></i><br>Charge
			</td>
			<td>
				<i class="fas fa-shopping-basket"></i><br>EVT Shop
			</td>
			<td>
				<i class="fas fa-user-tie"></i><br>My EVT
			</td>
			<td>
				<i class="fas fa-cog"></i><br>Settings
			</td>
		</tr>
	</table>
</div>
</body>

</html>