<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#7ba8ff">
	<meta name="msapplication-navbutton-color" content="#7ba8ff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#7ba8ff">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	<title>echain</title>
	<script>
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<script src="/js/common.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/css/tooltip.css">
	<link rel="stylesheet" href="/css/modal.css">
	<script src="/js/modal.js"></script>
	<script type="text/javascript" src="/js/instascan.min.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body>
	<div class="header">
		<div class="header-back">
			<i class="fas fa-arrow-left"></i>
		</div>
		<!-- You Have -->
	</div>