<%- include("header") %>

	<div class="wrapper">
		<button style="width: 100%; height: 50%; background-color: #4981BB; color: #ffffff; font-size: 2em; border: none;" onclick="location.href='/maps'">
			<i class="fas fa-map-marked-alt"></i>
			<br> Find a place to charge my EV
		</button>
		<button style="width: 100%; height: 50%; background-color: #1AD85B; color: #ffffff; font-size: 2em; border: none;" onclick="location.href='/addPin'">
			<i class="fas fa-plus"></i>
			<br>Create My Charge Center
		</button>
	</div>

	<%- include("footer") %>