<%- include("header") %>
	<div class="wrapper">
		<button class="button" id="addPin">addPin</button>

		<input type="text" name="" id="evt" style="width: 100%;">
		<button class="button" id="changeEvtAmount">changeEvtAmount</button>
	</div>
	<script src="/js/panel.js"></script>
<%- include("footer") %>