<%- include("header") %>
	<div class="wrapper">
		<div class="detail">
			<div class="detail-small">
				You Have
			</div>
			<div class="detail-big">
				<span id="evt"></span> EVT
			</div>
			<div class="detail-small">
				<span id="usd"></span> USD
			</div>
		</div>

		<div class="text-normal">
			Your current status
		</div>
		<div class="text-bold">
			Normal
		</div>
		<br>
		<br>

		<!-- <div style="padding: 10px;">
			<img src="/img/circle.png" alt="" style="width: 100%;">
		</div> -->
		<img src="/img/normal.png" alt="" style="width: 128px;">
		<br>
		<br>
		<br>
		<div class="text-normal">
			If someone charge at your place,
			<br>we'll send push to you!
			<b style="color: #4981BB;">How it works?</b>
		</div>

		<!-- 
		<button class="button" id="charge">Charge My EV</button>
		<div class="text-normal" style="color: #4981BB;">
			Need more EVT?
		</div> -->
	</div>
	<script src="/js/accept.js"></script>
	<%- include("footer") %>